<div class="my-3">
  <h2>From Event</h2>
  <br>
Observale by Event stream e.g onClick event
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Add Video
      </div>
      <div class="card-body">
        <button #addBtn class="btn btn-primary">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        List
      </div>
      <div class="card-body">
        <ul id="elContainer">

        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        List
      </div>
      <div class="card-body">
        <ul id="elContainer2">

        </ul>
      </div>
    </div>
  </div>
</div>
