<h1>Concat Map</h1>


<div class="row">
  <div class="col-md-4">
    <h3><b>Ex 01 | Concat All</b></h3>
    Map the data and show in stream
    <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos</strong> ['Tech', 'Comedy', 'News']</p>
      <div class="card">
        <div class="card-header">Concat All</div>
        <div class="card-body">
          <ul id="container"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3><b>Ex 02 | Merge Map</b></h3>
      Show all merge data at once
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos</strong> ['Tech', 'Comedy', 'News']</p>
      <div class="card">
        <div class="card-header">Merge Map</div>
        <div class="card-body">
          <ul id="container1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3><b>Ex 02 | Concat Map</b></h3>
      Map data and show in order like Concat All
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos</strong> ['Tech', 'Comedy', 'News']</p>
      <div class="card">
        <div class="card-header">Concat Map</div>
        <div class="card-body">
          <ul id="container2"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3><b>Ex 03 | Switch Map</b></h3>
      Show last emission of data and previous emission unsubscribe
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos</strong> ['Tech', 'Comedy', 'News']</p>
      <div class="card">
        <div class="card-header">Switch Map</div>
        <div class="card-body">
          <ul id="container3"></ul>
        </div>
      </div>
    </div>
  </div>
