<h1>Take, TakeLast, TakeUntil</h1>
<br>
<p class="bg-light py-2 px-3 border rounded"><strong>Random Names</strong> 'Anup', 'shekar', 'Sharma', Uxtrends',
  'Robert', 'Charles'</p>

<div class="row">
  <div class="col-md-4">
    <h3>Ex 01 # Take</h3>
    <br>
    <hr>
    <ul id="container"></ul>
  </div>
  <div class="col-md-4">
    <h3>Ex 02 # TakeLast</h3>
    <br>
    <hr>
    <ul id="container1"></ul>
  </div>
  <div class="col-md-4">
    <h3>Ex 03 # TakeUntil(Condition)</h3>
    <br>
    <hr>
    <ul id="container2"></ul>
  </div>
</div>
