<div class="row mx-3 my-3"  style="cursor: pointer;">
  <div class="col-3">
    <div class="box">
      <a routerLink="fromEvent">from Event</a>
    </div>
  </div>

  <div class="col-3">
    <div class="box">
      <a routerLink="interval">Interval</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="ofFrom">Of And From</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="toArray">To Array</a>
    </div>
  </div>

  <div class="col-3">
    <div class="box">
      <a routerLink="custom">Custom</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="map">Map</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="pluck">Pluck</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="filter">Filter</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="tap">Tap</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="take">Take</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="debounce">Debounce Time</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="subject">Subject</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="concatmap">Concat Map</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="concatmap2">Concat Map 2</a>
    </div>
  </div>
  <div class="col-3">
    <div class="box">
      <a routerLink="switchmap">Switch Map</a>
    </div>
  </div>
