<h1>Tap</h1>
<br>
<div class="row">
  <div class="col-md-4">
    <strong>Ex 01</strong>
    <hr>
     <p class="bg-light py-2 px-3 border rounded"><strong>Map</strong> Tap => before map to unsub (res)</p>
     <br>
     <p>Message <strong class="text-success">Tap</strong></p>
     <ul id="container"></ul>
  </div>
  <div class="col-md-4" [ngStyle]="{'color': myColor}">
    <strong>Ex 02</strong>
    <hr>
     <p class="bg-light py-2 px-3 border rounded"><strong>Tap</strong>
     By by changing color property</p>
     <br>
     <p>Message <strong class="text-success">Tap</strong></p>
     <ul id="container2" ></ul>
  </div>
  <div class="col-md-4">
    <strong>Ex 03</strong>
    <hr>
     <p class="bg-light py-2 px-3 border rounded"><strong>Tap</strong>
      Map Data</p>
     <br>
     <ul  class="text-success" id="container"></ul>
  </div>
</div>
