<h1>Of and From</h1>

<h3><b>Ex 01 of</b></h3>
Converts the Data in Observable stream
<hr>

<div class="row">
  <div class="col-md-6">
    <p class="bg-light py-2 px-3 border rounded">Of'Muhammad', 'Asim', 'Khan'</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Of Output</div>
        <div class="card-body">
          <ul id="container"></ul>
        </div>
      </div>
    </div>
    <hr>
    <h3><b>Ex 02 From</b></h3>
    <br>
    <p>converts the Data from Array into stream</p>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">From Output</div>
        <div class="card-body">
          <ul id="container1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Of Output</div>
        <div class="card-body">
          <ul id="container2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
