<h1>Subject and Behaviral Subject</h1>
<div class="container my-3">
<h3>User Name is <strong class="text text-success">{{userName}}</strong></h3>

  <div class="col-md-4 " >
    <app-comp1></app-comp1>
  </div>
  <div class="col-md-4">
    <app-comp2></app-comp2>
  </div>
  <div class="col-md-4">
    <app-comp3></app-comp3>
  </div>
</div>

<div class="p-3 m-0 border-0 bd-example bd-example-row">
  <div class="row justify-content-between text-justify">
    <div class="col-3">
      {{userName}}
    </div>
    <div class="col-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio excepturi sunt quos quidem unde impedit? Placeat impedit voluptatem odit aliquam excepturi dolore, numquam est illum. Laudantium dolorem possimus natus et!
    </div>
  </div>
